{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style_base_components.css' %}">
  
    <link rel="stylesheet" href="{% static 'style_change_treatment_details.css' %}">
    
    <title>Change treatment of {{ patient.name }}</title>

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
          crossorigin="anonymous">


    <!-- ---------------- from w3 school for icons ---------------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>

        #image-preview-container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
        }
        
        .img-preview {
            max-width: 150px;
            max-height: 150px;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 2px solid #ddd;
            padding: 5px;
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer; /* Show that the image is clickable */
        }
        
       
    </style>
</head>
<body>

    <!-- ------------------------- Nav bar -------------------------  -->
    <nav class="hc-navbar">
        <div class="hc-navbar-container">
            <a href="#" class="hc-navbar-brand">Patient Data Manager PDM</a>
            <button class="hc-navbar-toggler" onclick="toggleMenu()">&#9776;</button>
            <div class="hc-navbar-menu" id="navbarMenu">
                <a href="home" class="hc-navbar-item">Home <i class="fa fa-home" style="font-size:15px"></i></a>
                <!-- <a href="patient_details" class="hc-navbar-item">Go back</a> -->
                <a href="#" class="hc-navbar-item">About</a>
            
                <a style="margin-left: 5rem;" href="signout" class="hc-navbar-item">Logout <i class="fa fa-sign-out" style="font-size:15px"></i></a>
            </div>
        </div>
    </nav>

    <!-- ---------------------- Nav bar ends ------------------------ -->


    <div style="display: block;" id="patient-treatment-detail-form"  class="main-container-register-patient-form" >

        <div class="heading-form-and-info-div">Change Patient Treatment Details</div>

        <div class="secondeary-container-resgister-patinet-form">

            <form id="change-patient-detials-form"  action="{% url 'change_treatment_details_in_db' %}" method="post" enctype="multipart/form-data" onsubmit="disableButton();" class="">
                {% csrf_token %}
            
                <div >
                    <label  class="mr-5 label-input-register-form" >Patient Name: {{ patient_name }} </label>
                    <input type="text" id="patientId" name="patientId" style="display: none;" value="{{ patient_id}} " />

                    <label  class="ml-5 label-input-register-form" >Treatment No. : {{ patient_treatement_no }} </label>
                    <input type="text" id="patientId" name="patientId" style="display: none;" value="{{ treatement_no }} " />

                    <label  class="form-label" >Treatment no. : {{ detail.n_th_treatment }}</label>
                    <input type="text" id="n_th_treatment" name="n_th_treatment" style="display: none;" value="{{ detail.n_th_treatment }}"/>
                    
                    <input type="text" id="pk_for_treatment_detail" name="pk_for_treatment_detail" style="display: none;" value="{{ pk_for_treatment_detail }} "/>

                </div>
                
                <hr>
                
                <div class="mb-5 div-container-textarea">
                    <label class="label-textarea-register-form">Dignosis</label>  <!-- Problem in detail -->
                    <textarea class="textarea-form-and-info" id="problem" name="problem" rows="3">{{ detail.problem_detail }}</textarea>

                    <label class="label-textarea-register-form">Symptoms</label>  <!-- Problem in detail -->
                    <textarea class="textarea-form-and-info" id="symptoms" name="symptoms" rows="3">{{ detail.symptoms }} </textarea>
                </div>

                <hr>

                <div class="mb-4 div-container-input">
                    
                    <label class="label-input-register-form">Blood Pressure</label>
                    <input type="number" class="mr-5 inpt-format-register-form input-vital-class" id="blood_pressure" name="blood_pressure"  value="{{ detail.blood_pressure }}">
                    
                    <label class="label-input-register-form">Oxygen</label>
                    <input type="number" class="mr-5 inpt-format-register-form input-vital-class" id="oxygen" name="oxygen" value="{{ detail.oxygen }}">

                    <label  class="label-input-register-form">Pulse</label>
                    <input type="number" class="mr-5 inpt-format-register-form input-vital-class" id="pulse" name="pulse" value="{{ detail.pulse }}">


                    <label  class="label-input-register-form">Sugar</label>
                    <input type="number" class="mr-5 inpt-format-register-form input-vital-class" id="sugar" name="sugar" value="{{ detail.sugar }}">

                    <label  class="label-input-register-form">Weight</label>
                    <input type="number" class="mr-5 inpt-format-register-form input-vital-class" id="weight" name="weight" value="{{ detail.weight }}">

                    
                    <div class="mt-5 mb-5 div-container-textarea">
                        <label  class="mr-2 label-input-register-form">Vitals (Extra)</label>
                        <textarea class="textarea-form-and-info" id="vitals_extra" name="vitals_extra" rows="3">{{ detail.vitals_exta }}</textarea>
                    </div>
                    
                </div>

                <hr>

                <div class="mb-5 div-container-textarea">
                    <label class="label-textarea-register-form">Treatmentment Given</label>  <!-- Problem in detail -->
                    <textarea class="textarea-form-and-info" id="treatment_given" name="treatment_given" rows="3">{{ detail.treatment_given }}</textarea>

                    <label class="label-textarea-register-form">Medical Prescribed</label>  <!-- Problem in detail -->
                    <textarea class="textarea-form-and-info"  id="medicine_prescribed" name="medicine_prescribed" rows="3">{{ detail.medicine_prescribed }}</textarea>
                </div>
                    
                <hr>
                

                <div class="mb-4 div-container-input">

                    <label class="mt-2 label-input-register-form" for="startDate">Current checkup date</label>
                    <input id="mt-2 current_checkup_date" name="current_checkup_date" class="inpt-format-register-form" type="date"  value="{{ current_checkup_date }}"/>

                    <label class="inpt-label-placing label-input-register-form" for="startDate">Next checkup date</label>
                    <input id="next_checkup" name="next_checkup" class="inpt-format-register-form" type="date" value="{{ next_checkup_date }}" />
            
              
                </div>

                <hr>

                <div class="mb-4 div-container-input">
                    
                    <label class="label-input-register-form">Fess charged</label>
                    <input type="number" class="mr-5 inpt-format-register-form input-vital-class" id="fees_charged" name="fees_charged" value="{{ detail.fees_charged }}">
                    
                    <label class="label-input-register-form">Fees paid</label>
                    <input type="number" class="mr-5 inpt-format-register-form input-vital-class"  id="fees_paid" name="fees_paid"   value="{{ detail.fees_paid }}">

                    <label  class="label-input-register-form">remaining</label>
                    <input type="number" class="mr-5 inpt-format-register-form input-vital-class" id="fees_remaining" name="fees_remaining" placeholder="" value="" disabled onclick="show_remaining_fees()" >


                </div>

                <hr>

                <div class="mt-5 mb-5 div-container-textarea">
                    <label class="label-textarea-register-form">Remarks</label> 
                    <textarea class="textarea-form-and-info" id="remarks" name="remarks" rows="3">{{ detail.remarks }}</textarea>

                    
                </div>

                <hr>
                

                <!--  -------------------- Section 1 to add new images -------------------- -->
                <div>
                    <div>
                        <label class="label-textarea-register-form" for="images">Upload New Images:</label>
                        <input type="file" id="images" name="images" multiple onchange="previewImages();" style="display:none;">
                        <button type="button" onclick="document.getElementById('images').click();">Select Images</button>
                        
                        <div id="image-preview-container"></div>

                        </div>
                 <hr>

               
                <!--  ----------- Section 2 to remove old images if user wants to ------------>

                
                <label class="label-textarea-register-form">Existing images</label> 

                <div style="display: flex-box;">
                    {% for image_obj in image_objs_lst %}

                         <img id="image_obj.id" name="image_obj.id" class="img-preview" src="{{ image_obj.trt_img.url }}" alt="Patient Image" />       
            
                    {% endfor %}
    
                </div>
    



                <hr>
                <!-- ----------------------------------------------------------------------- -->

                
                

                
                    <button style="border-radius: 50px;" class="mt-5 ml-5 btn btn-primary btn-submit-regis-form register-form-btn-shape" type="submit">Submit</button>

                    <button style="border-radius: 50px;" type="reset" onclick="showForm()" class="mt-5 btn btn-danger btn-hide-regis-form register-form-btn-shape">Cancel</button>

                
                </div>
                    


            </form>

        </div>

    </div>




    <!-- ---------------------------------------- -->

    <script>

        let imgs_id = []

        function addImageIdToArray() {
            const image_id = event.target.id;
            console.log("Clicked element ID:::::::::::::::::::::::::::::::::::> " + image_id);
            imgs_id.push(image_id)

        }


        function temp() {
            console.log('----------------------------------');
            for (i in imgs_id) {
                console.log(imgs_id[i])
            }
            console.log('----------------------------------');
        }

    </script>


    

    <script>
                
        let selectedFiles = [];

        function previewImages() {
            const previewContainer = document.getElementById('image-preview-container');
            const inputFiles = Array.from(document.getElementById('images').files);

            // Add only the newly selected files to the array
            selectedFiles = [...inputFiles];

            // Clear the preview container to prevent duplication
            previewContainer.innerHTML = '';

            // Loop through selectedFiles to display them
            selectedFiles.forEach((file, index) => {
                if (file.type.startsWith('image/')) {
                    const imgElement = document.createElement("img");
                    imgElement.classList.add("img-preview");
                    imgElement.file = file;
                    imgElement.dataset.index = index;

                    // Add onclick to allow removing the image
                    imgElement.onclick = function() {
                        removeImage(index);
                    };

                    previewContainer.appendChild(imgElement);

                    const reader = new FileReader();
                    reader.onload = (function(aImg) {
                        return function(e) {
                            aImg.src = e.target.result;
                        };
                    })(imgElement);
                    reader.readAsDataURL(file);
                }
            });
        }

// Function to remove an image from selectedFiles array
        function removeImage(index) {
            // Remove the selected image from the array
            selectedFiles.splice(index, 1);

            // Trigger previewImages to update the preview
            updatePreview();
        }

        function updatePreview() {
            const previewContainer = document.getElementById('image-preview-container');
            previewContainer.innerHTML = '';

            selectedFiles.forEach((file, index) => {
                if (file.type.startsWith('image/')) {
                    const imgElement = document.createElement("img");
                    imgElement.classList.add("img-preview");
                    imgElement.file = file;
                    imgElement.dataset.index = index;

                    imgElement.onclick = function() {
                        removeImage(index);
                    };

                    previewContainer.appendChild(imgElement);

                    const reader = new FileReader();
                    reader.onload = (function(aImg) {
                        return function(e) {
                            aImg.src = e.target.result;
                        };
                    })(imgElement);
                    reader.readAsDataURL(file);
                }
            });
        }
    </script>

    

    <!-- Bootstrap boiler plate -->

    <script>

        function show_remaining_fees() {
            let charged_fees = document.getElementById('fees_charged').value;
            let fee_paid = document.getElementById('fees_paid').value;


            charged_fees = parseFloat(charged_fees)

            console.log("parsed float = " + parseFloat(charged_fees))
            fee_paid = parseFloat(fee_paid);
            let remaining_fees = charged_fees - fee_paid;

            if(charged_fees < 0) {
                alert('Charged fees cannot be less than 0 !')
            }


            if(fee_paid < 0) {
                alert('Paid fees cannot be less than 0 !')
            }

            if(remaining_fees < 0) {
                alert('Fee remaining is less than 0 ! You might have entered wrong values for the fees paid or fees charged')
            }


            document.getElementById('fees_remaining').value = remaining_fees + "";

        
        }

    </script>

    <script 
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous">
    </script>

    <!-- Bootstrap ends here -->

    
</body>
</html>










-----------------------------------------------------------------------

<div class="upper-conatiner-all-treatment-details">

    <h3 class="heading-all-details">Most recent treatemnt details</h3>
    {% for detail in patient_all_treatment_details|slice:":1" %}

        <div class="conatiner-all-treatment-details">

            

            <table class="table">
                <tr class="treatment-no-st" >
                    <th>Treatment no.</th>
                    <td class="text-wrap-for-th">{{ detail.n_th_treatment }}</td>
                </tr>

                <tr >
                    <td><br></td>
                </tr>

                <tr>
                    <th class="tr-treatment-heading">Problem in detail</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.problem_detail }}</td>
                </tr>

                <tr>
                    <th class="tr-treatment-heading">Symptoms</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.symptoms }}</td>
                </tr>    


                <tr>
                    <th class="tr-treatment-heading">Blood Pressure</th>
                    <td class="text-wrap-for-th tr-treatment-field"><label class="label-show-patient-details-field" for="">{{ detail.blood_pressure }} (mmHg)</label></td>
                </tr>    
                
                <tr>
                    <th class="tr-treatment-heading">Oxygen</th>
                    <td class="text-wrap-for-th tr-treatment-field"><label class="label-show-patient-details-field" for="">{{ detail.oxygen }} (mm Hg)</label></td>
                </tr>

                <tr>
                    <th class="tr-treatment-heading">Pulse</th>
                    <td class="text-wrap-for-th tr-treatment-field"><label class="label-show-patient-details-field" for="">{{ detail.pulse }} (bpm)</label></td>
                </tr>

                <tr>
                    <th class="tr-treatment-heading">Sugar</th>
                    <td class="text-wrap-for-th tr-treatment-field"><label class="label-show-patient-details-field" for="">{{ detail.sugar }} (mmol/L  or  mg/dL)</label></td>
                </tr>

                <tr>
                    <th class="tr-treatment-heading">Weight</th>
                    <td class="text-wrap-for-th tr-treatment-field"><label class="label-show-patient-details-field" for="">{{ detail.weight }} (kgs)</label></td>
                </tr>
                

               
                

                <tr >
                    <th class="tr-treatment-heading">Treatment given</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.treatment_given }}</td>
                </tr>


                <tr>
                    <th class="tr-treatment-heading">Medicine prescribed</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.medicine_prescribed }}</td>
                </tr>

                
                <tr >
                    <td><br></td>
                </tr>


                <tr>
                    <th class="tr-treatment-heading">Date on treatemnt given</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.current_checkup_date }}</td>
                </tr>

                <tr>
                    <th class="tr-treatment-heading">Next checkup date give</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.next_checkup_date }}</td>
                </tr>


                <tr>
                    <th class="tr-treatment-heading">Remarks (Extra)</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.remarks }}</td>
                </tr>

                <tr >
                    <td><br></td>
                </tr>

                <tr>
                    <th class="tr-treatment-heading">Fees charged</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.fees_charged }}</td>
                </tr>


                <tr>
                    <th class="tr-treatment-heading">Fees paid</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.fees_paid }}</td>
                </tr>

                {% if detail.fees_remaining > 0 %}
                <tr class="fees-remaining-red-background">
                    <th>Fees remaining</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.fees_remaining }}</td>
                </tr>

                {% else %}

                <tr>
                    <th class="tr-treatment-heading">Fees remaining</th>
                    <td class="text-wrap-for-th tr-treatment-field">{{ detail.fees_remaining }}</td>
                </tr>

                {% endif %}

   

            </table>

        </div>

        
        {% endfor %}
</div>